@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.card-container {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 5px 25px hsl(218, 44%, 22%, 0.2);
    width: 25%;
    height: 75%;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
}

.qr-code {
    width: 100%;
    border-radius: 10px;
}

.heading,
.paragraph {
    padding: 1rem 0;
    font-size: 25px;
}

.heading {
    padding-bottom: 0;
    color: hsl(218, 44%, 22%);
}

.paragraph {
    font-size: 16px;
    padding: 0.5rem 1.5rem 2rem 1.5rem;
    color: hsl(220, 15%, 55%);
}

@media (max-width: 376px) {
    .card-container {
        width: 85%;
        height: 73%;
    }

    .heading {
        padding: 1rem;
        font-size: 20px;
    }

    .paragraph {
        padding-top: 0;
        font-size: 14px;
    }
}